In [55]:
import numpy as np 
import pandas as pd
import requests
import xlsxwriter 
import math

In [56]:
stocks = pd.read_csv('sp_500_stocks.csv')
type(stocks)

pandas.core.frame.DataFrame

In [57]:
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [58]:
from secrets import IEX_CLOUD_API_TOKEN

# using from api server to get datasets

In [59]:
symbol = 'AAPL'
api_url= f"https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}"

In [60]:
data = requests.get(api_url).json()

In [61]:
market_cap = data['marketCap']
price = data['latestPrice']
price

150.84

# adding our Stocks to DataFrame

In [64]:
my_columns = ['Tricker' , 'Stock Price' , 'Market Capitalization' , 'Number Of Shares To Buy']
final_dataframe= pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Tricker, Stock Price, Market Capitalization, Number Of Shares To Buy]
Index: []

In [69]:
final_dataframe.append(pd.Series([symbol, price , market_cap , 'N/A'], index=my_columns) , ignore_index=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4384\3955911244.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe.append(pd.Series([symbol, price , market_cap , 'N/A'], index=my_columns) , ignore_index=True)

  Tricker Stock Price Market Capitalization Number Of Shares To Buy
0    AAPL      150.84         2409727360103                     N/A